serTI.Campania.Comunicacion.WCF/Service References/Archivo/Archivo1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/serTI.Campania.Modelo.BaseDatos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/serTI.Campania.Modelo.BaseDatos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6060/Administracion/Archivo.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
  <xs:complexType name="Archivo">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q1:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Archivo1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Clave" type="xs:long" />
          <xs:element minOccurs="0" name="ClaveFuenteInformacion" type="xs:long" />
          <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Estatus" type="xs:boolean" />
          <xs:element minOccurs="0" name="FechaActualizacion" type="xs:dateTime" />
          <xs:element minOccurs="0" name="FechaCreacion" type="xs:dateTime" />
          <xs:element minOccurs="0" name="UsuarioActualizacion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UsuarioCreacion" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Archivo" nillable="true" type="tns:Archivo" />
  <xs:complexType name="ArrayOfArchivo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Archivo" nillable="true" type="tns:Archivo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArchivo" nillable="true" type="tns:ArrayOfArchivo" />
</xs:schema>