serTI.Campania.Comunicacion.WCF/Service References/ImportarCliente/ImportarCliente4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/serTI.Campania.Modelo.BaseDatos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/serTI.Campania.Modelo.BaseDatos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6060/Reporte/ImportarCliente.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
  <xs:complexType name="ImportarCliente">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q1:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Clave" type="xs:long" />
          <xs:element minOccurs="0" name="ClaveExcel" type="xs:int" />
          <xs:element minOccurs="0" name="Contacto" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FechaHora" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Telefono" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ImportarCliente" nillable="true" type="tns:ImportarCliente" />
  <xs:complexType name="ArrayOfImportarCliente">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ImportarCliente" nillable="true" type="tns:ImportarCliente" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfImportarCliente" nillable="true" type="tns:ArrayOfImportarCliente" />
</xs:schema>