serTI.Campania.Comunicacion.WCF/Service References/FuenteInformacion/FuenteInformacion3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6060/Reporte/FuenteInformacion.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/serTI.Campania.Negocio.Reporte" />
  <xs:import schemaLocation="http://localhost:6060/Reporte/FuenteInformacion.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/serTI.Campania.Modelo.BaseDatos" />
  <xs:element name="Insertar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/serTI.Campania.Negocio.Reporte" minOccurs="0" name="fuenteinformacion" nillable="true" type="q1:FuenteInformacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertarResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/serTI.Campania.Negocio.Reporte" minOccurs="0" name="fuenteinformacion" nillable="true" type="q2:FuenteInformacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Eliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/serTI.Campania.Negocio.Reporte" minOccurs="0" name="fuenteinformacion" nillable="true" type="q3:FuenteInformacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Consultar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/serTI.Campania.Negocio.Reporte" minOccurs="0" name="fuenteinformacion" nillable="true" type="q4:FuenteInformacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConsultarResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Listar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Inicio" type="xs:int" />
        <xs:element minOccurs="0" name="Final" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/serTI.Campania.Modelo.BaseDatos" minOccurs="0" name="ListarResult" nillable="true" type="q5:ArrayOfFuenteInformacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>